<div class="schedules_wallpaper">

 <div class="contloller_wallpaper">
  <div class="schedules_message">予定一覧</div>
  <button class="index_new_schedule"><%= link_to "新規作成",new_schedule_path %></button>
 </div>

 <div class="schedules_dispaly">
    <table>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>終日</th>
            <th>更新日時</th>
            <th>詳細</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
    <% @schedules.each do |schedule| %>
        <tr>
            <td><%= schedule.id %></td>
            <td><%= schedule.title %></td>
            <td><%= l schedule.start_day %></td>
            <td><%= l schedule.last_day %></td>
            <td>
                <% if schedule.all_day == "1" %>
                <%= "◯"%>
                <% else %>
                <%= "" %>
                <% end %>
            </td>
            <td><%= l schedule.updated_at %></td>
            <td><%= link_to"詳細",schedule %></td>
            <td><%= link_to"編集", [:edit, schedule] %></td>
            <td><%= link_to"削除",schedule,method: :delete, data: { confirm: "本当に削除しますか？" }  %></td>
        </tr>
    <% end %>
    </table>
 </div>

 <div class="counter_wallpaper">
    <div class="counter">
        <div class="scedules_counter">予定合計</div>
        <div class="today_display">本日の日付<br><%= @today_display %></div>
    </div>
 </div>

</div>