<!DOCTYPE html>
<html>
  <head>
    <title>RailsTask1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">スケジュール管理アプリ</div>
    <%= yield %>
    <div class="flash_message"><%= flash[:notice]%></div>
  </body>
</html>
